mikuyInterface/LP2Soft/LP2Soft/Connected Services/NegocioWS/NegocioWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.lp2soft.pucp.edu.pe/" targetNamespace="http://services.lp2soft.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarPromocion" type="tns:eliminarPromocion" />
  <xs:element name="eliminarPromocionResponse" type="tns:eliminarPromocionResponse" />
  <xs:element name="insertarPromocion" type="tns:insertarPromocion" />
  <xs:element name="insertarPromocionResponse" type="tns:insertarPromocionResponse" />
  <xs:element name="listarTodasPromociones" type="tns:listarTodasPromociones" />
  <xs:element name="listarTodasPromocionesResponse" type="tns:listarTodasPromocionesResponse" />
  <xs:element name="modificarPromocion" type="tns:modificarPromocion" />
  <xs:element name="modificarPromocionResponse" type="tns:modificarPromocionResponse" />
  <xs:complexType name="insertarPromocion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Promocion" type="tns:promocion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="promocion">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:itemVendible">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="lista_de_Comidas" nillable="true" type="tns:lineaPromocion" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="itemVendible">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="estado" type="xs:boolean" />
      <xs:element name="idItemVendible" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="precio" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="lineaPromocion">
    <xs:sequence>
      <xs:element name="estado" type="xs:boolean" />
      <xs:element name="idLineaPromocion" type="xs:int" />
      <xs:element minOccurs="0" name="producto" type="tns:producto" />
      <xs:element name="unidades" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="producto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:itemVendible">
        <xs:sequence>
          <xs:element minOccurs="0" name="categoria" type="tns:categoria" />
          <xs:element name="idProducto" type="xs:int" />
          <xs:element minOccurs="0" name="presentacion" type="xs:string" />
          <xs:element name="tipoProducto" type="xs:unsignedShort" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="categoria">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="idCategoria" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarPromocionResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarPromocion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Promocion" type="tns:promocion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarPromocionResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarPromocion">
    <xs:sequence>
      <xs:element name="idPromocion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarPromocionResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodasPromociones">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodasPromocionesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:promocion" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>