mikuyInterface/LP2Soft/LP2Soft/Connected Services/NegocioWS/NegocioWS1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.lp2soft.pucp.edu.pe/" targetNamespace="http://services.lp2soft.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarCategoria" type="tns:eliminarCategoria" />
  <xs:element name="eliminarCategoriaResponse" type="tns:eliminarCategoriaResponse" />
  <xs:element name="eliminarLineaPromo" type="tns:eliminarLineaPromo" />
  <xs:element name="eliminarLineaPromoResponse" type="tns:eliminarLineaPromoResponse" />
  <xs:element name="eliminarProducto" type="tns:eliminarProducto" />
  <xs:element name="eliminarProductoResponse" type="tns:eliminarProductoResponse" />
  <xs:element name="eliminarPromocion" type="tns:eliminarPromocion" />
  <xs:element name="eliminarPromocionResponse" type="tns:eliminarPromocionResponse" />
  <xs:element name="insertarCategoria" type="tns:insertarCategoria" />
  <xs:element name="insertarCategoriaResponse" type="tns:insertarCategoriaResponse" />
  <xs:element name="insertarLineaPromo" type="tns:insertarLineaPromo" />
  <xs:element name="insertarLineaPromoResponse" type="tns:insertarLineaPromoResponse" />
  <xs:element name="insertarProducto" type="tns:insertarProducto" />
  <xs:element name="insertarProductoResponse" type="tns:insertarProductoResponse" />
  <xs:element name="insertarPromocion" type="tns:insertarPromocion" />
  <xs:element name="insertarPromocionResponse" type="tns:insertarPromocionResponse" />
  <xs:element name="listarProductoXNombre" type="tns:listarProductoXNombre" />
  <xs:element name="listarProductoXNombreResponse" type="tns:listarProductoXNombreResponse" />
  <xs:element name="listarPromociones_X_nombre" type="tns:listarPromociones_X_nombre" />
  <xs:element name="listarPromociones_X_nombreResponse" type="tns:listarPromociones_X_nombreResponse" />
  <xs:element name="listarTodasCategorias" type="tns:listarTodasCategorias" />
  <xs:element name="listarTodasCategoriasResponse" type="tns:listarTodasCategoriasResponse" />
  <xs:element name="listarTodasPromociones" type="tns:listarTodasPromociones" />
  <xs:element name="listarTodasPromocionesResponse" type="tns:listarTodasPromocionesResponse" />
  <xs:element name="listarTodosLineaPromo" type="tns:listarTodosLineaPromo" />
  <xs:element name="listarTodosLineaPromoResponse" type="tns:listarTodosLineaPromoResponse" />
  <xs:element name="listarTodosProductos" type="tns:listarTodosProductos" />
  <xs:element name="listarTodosProductosResponse" type="tns:listarTodosProductosResponse" />
  <xs:element name="modificarCategoria" type="tns:modificarCategoria" />
  <xs:element name="modificarCategoriaResponse" type="tns:modificarCategoriaResponse" />
  <xs:element name="modificarLineaPromo" type="tns:modificarLineaPromo" />
  <xs:element name="modificarLineaPromoResponse" type="tns:modificarLineaPromoResponse" />
  <xs:element name="modificarProducto" type="tns:modificarProducto" />
  <xs:element name="modificarProductoResponse" type="tns:modificarProductoResponse" />
  <xs:element name="modificarPromocion" type="tns:modificarPromocion" />
  <xs:element name="modificarPromocionResponse" type="tns:modificarPromocionResponse" />
  <xs:complexType name="modificarProducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Producto" type="tns:producto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="producto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:itemVendible">
        <xs:sequence>
          <xs:element minOccurs="0" name="categoria" type="tns:categoria" />
          <xs:element name="idProducto" type="xs:int" />
          <xs:element minOccurs="0" name="presentacion" type="xs:string" />
          <xs:element name="tipoProducto" type="xs:unsignedShort" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="itemVendible">
    <xs:sequence>
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="estado" type="xs:boolean" />
      <xs:element name="idItemVendible" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element name="precio" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="categoria">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="idCategoria" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarProductoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarLineaPromo">
    <xs:sequence>
      <xs:element name="idlinea" type="xs:int" />
      <xs:element name="idPromo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarLineaPromoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarPromocion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Promocion" type="tns:promocion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="promocion">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:itemVendible">
        <xs:sequence>
          <xs:element minOccurs="0" maxOccurs="unbounded" name="lista_de_Comidas" nillable="true" type="tns:lineaPromocion" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="lineaPromocion">
    <xs:sequence>
      <xs:element name="estado" type="xs:boolean" />
      <xs:element name="idLineaPromocion" type="xs:int" />
      <xs:element minOccurs="0" name="producto" type="tns:producto" />
      <xs:element name="unidades" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarPromocionResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodasCategorias">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodasCategoriasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:categoria" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPromociones_X_nombre">
    <xs:sequence>
      <xs:element minOccurs="0" name="idPromocion" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPromociones_X_nombreResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:promocion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarProductoXNombre">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarProductoXNombreResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:producto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarProducto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Producto" type="tns:producto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarProductoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodosProductos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodosProductosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:producto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarProducto">
    <xs:sequence>
      <xs:element name="idProducto" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarProductoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodosLineaPromo">
    <xs:sequence>
      <xs:element name="idPromo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodosLineaPromoResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:lineaPromocion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodasPromociones">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodasPromocionesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:promocion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarPromocion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Promocion" type="tns:promocion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarPromocionResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarCategoria">
    <xs:sequence>
      <xs:element minOccurs="0" name="Categoria" type="tns:categoria" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarCategoriaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarCategoria">
    <xs:sequence>
      <xs:element minOccurs="0" name="Categoria" type="tns:categoria" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarCategoriaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarLineaPromo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Linea" type="tns:lineaPromocion" />
      <xs:element name="idPromo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarLineaPromoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarCategoria">
    <xs:sequence>
      <xs:element name="idCategoria" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarCategoriaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarPromocion">
    <xs:sequence>
      <xs:element name="idPromocion" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarPromocionResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarLineaPromo">
    <xs:sequence>
      <xs:element minOccurs="0" name="Linea" type="tns:lineaPromocion" />
      <xs:element name="idPromo" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarLineaPromoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>