mikuyInterfacePart2/LP2Soft/LP2Soft/Connected Services/UserWS/UserWS1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.lp2soft.pucp.edu.pe/" targetNamespace="http://services.lp2soft.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="BuscaRestaurante" type="tns:BuscaRestaurante" />
  <xs:element name="BuscaRestauranteResponse" type="tns:BuscaRestauranteResponse" />
  <xs:element name="asistenciaEntrada" type="tns:asistenciaEntrada" />
  <xs:element name="asistenciaEntradaResponse" type="tns:asistenciaEntradaResponse" />
  <xs:element name="asistenciaSalida" type="tns:asistenciaSalida" />
  <xs:element name="asistenciaSalidaResponse" type="tns:asistenciaSalidaResponse" />
  <xs:element name="buscarPersonaPorIdUsuario" type="tns:buscarPersonaPorIdUsuario" />
  <xs:element name="buscarPersonaPorIdUsuarioResponse" type="tns:buscarPersonaPorIdUsuarioResponse" />
  <xs:element name="buscarRolPorId" type="tns:buscarRolPorId" />
  <xs:element name="buscarRolPorIdResponse" type="tns:buscarRolPorIdResponse" />
  <xs:element name="cambiarContrasenia" type="tns:cambiarContrasenia" />
  <xs:element name="cambiarContraseniaResponse" type="tns:cambiarContraseniaResponse" />
  <xs:element name="eliminarAsistencia" type="tns:eliminarAsistencia" />
  <xs:element name="eliminarAsistenciaResponse" type="tns:eliminarAsistenciaResponse" />
  <xs:element name="elminarPersona" type="tns:elminarPersona" />
  <xs:element name="elminarPersonaResponse" type="tns:elminarPersonaResponse" />
  <xs:element name="elminarUsuario" type="tns:elminarUsuario" />
  <xs:element name="elminarUsuarioResponse" type="tns:elminarUsuarioResponse" />
  <xs:element name="insertarEmpresa" type="tns:insertarEmpresa" />
  <xs:element name="insertarEmpresaResponse" type="tns:insertarEmpresaResponse" />
  <xs:element name="insertarPersona" type="tns:insertarPersona" />
  <xs:element name="insertarPersonaResponse" type="tns:insertarPersonaResponse" />
  <xs:element name="insertarUsuario" type="tns:insertarUsuario" />
  <xs:element name="insertarUsuarioResponse" type="tns:insertarUsuarioResponse" />
  <xs:element name="listarAsistencias" type="tns:listarAsistencias" />
  <xs:element name="listarAsistenciasResponse" type="tns:listarAsistenciasResponse" />
  <xs:element name="listarClienteXNombre" type="tns:listarClienteXNombre" />
  <xs:element name="listarClienteXNombreResponse" type="tns:listarClienteXNombreResponse" />
  <xs:element name="listarEmpresa" type="tns:listarEmpresa" />
  <xs:element name="listarEmpresaResponse" type="tns:listarEmpresaResponse" />
  <xs:element name="listarPersona" type="tns:listarPersona" />
  <xs:element name="listarPersonaResponse" type="tns:listarPersonaResponse" />
  <xs:element name="listarPersonasTodas" type="tns:listarPersonasTodas" />
  <xs:element name="listarPersonasTodasResponse" type="tns:listarPersonasTodasResponse" />
  <xs:element name="listarRolTodos" type="tns:listarRolTodos" />
  <xs:element name="listarRolTodosResponse" type="tns:listarRolTodosResponse" />
  <xs:element name="listarTodosUsuarios" type="tns:listarTodosUsuarios" />
  <xs:element name="listarTodosUsuariosResponse" type="tns:listarTodosUsuariosResponse" />
  <xs:element name="listarUsuariosXNombre" type="tns:listarUsuariosXNombre" />
  <xs:element name="listarUsuariosXNombreResponse" type="tns:listarUsuariosXNombreResponse" />
  <xs:element name="modificarDatosUsuario" type="tns:modificarDatosUsuario" />
  <xs:element name="modificarDatosUsuarioResponse" type="tns:modificarDatosUsuarioResponse" />
  <xs:element name="modificarEmpresa" type="tns:modificarEmpresa" />
  <xs:element name="modificarEmpresaResponse" type="tns:modificarEmpresaResponse" />
  <xs:element name="modificarPersona" type="tns:modificarPersona" />
  <xs:element name="modificarPersonaResponse" type="tns:modificarPersonaResponse" />
  <xs:element name="modificarUsuario" type="tns:modificarUsuario" />
  <xs:element name="modificarUsuarioResponse" type="tns:modificarUsuarioResponse" />
  <xs:element name="verificarCuentaUsuario" type="tns:verificarCuentaUsuario" />
  <xs:element name="verificarCuentaUsuarioResponse" type="tns:verificarCuentaUsuarioResponse" />
  <xs:element name="verificarUsuario" type="tns:verificarUsuario" />
  <xs:element name="verificarUsuarioResponse" type="tns:verificarUsuarioResponse" />
  <xs:complexType name="verificarCuentaUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="usuario" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="usuario">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:persona">
        <xs:sequence>
          <xs:element name="id_usuario" type="xs:int" />
          <xs:element minOccurs="0" name="password" type="xs:string" />
          <xs:element minOccurs="0" name="restaurante" type="tns:restaurante" />
          <xs:element minOccurs="0" name="rol" type="tns:rol" />
          <xs:element name="salario" type="xs:double" />
          <xs:element minOccurs="0" name="telefono" type="xs:string" />
          <xs:element minOccurs="0" name="usuario" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="persona">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="apellido_materno" type="xs:string" />
      <xs:element minOccurs="0" name="apellido_paterno" type="xs:string" />
      <xs:element minOccurs="0" name="DNI" type="xs:string" />
      <xs:element name="id_persona" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="razon_social" type="xs:string" />
      <xs:element minOccurs="0" name="ruc" type="xs:string" />
      <xs:element name="tipo" type="xs:unsignedShort" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="restaurante">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="dineroActual" type="xs:double" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element name="id_restaurante" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="ruc" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="rol">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="descripcion" type="xs:string" />
      <xs:element name="id_rol" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="verificarCuentaUsuarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarEmpresa">
    <xs:sequence>
      <xs:element minOccurs="0" name="Persona" type="tns:persona" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarEmpresaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarEmpresa">
    <xs:sequence>
      <xs:element minOccurs="0" name="Persona" type="tns:persona" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarEmpresaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarAsistencia">
    <xs:sequence>
      <xs:element name="idUsuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarAsistenciaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarRolPorId">
    <xs:sequence>
      <xs:element name="id_rol" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarRolPorIdResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:rol" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodosUsuarios">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodosUsuariosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="elminarUsuario">
    <xs:sequence>
      <xs:element name="idUsuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="elminarUsuarioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarDatosUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="usuario" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarDatosUsuarioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="elminarPersona">
    <xs:sequence>
      <xs:element name="idPersona" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="elminarPersonaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarRolTodos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarRolTodosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:rol" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="asistenciaSalida">
    <xs:sequence>
      <xs:element name="idUsuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="asistenciaSalidaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="verificarUsuario">
    <xs:sequence>
      <xs:element name="dni" type="xs:int" />
      <xs:element minOccurs="0" name="apellido_paterno" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="verificarUsuarioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarUsuariosXNombre">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarUsuariosXNombreResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cambiarContrasenia">
    <xs:sequence>
      <xs:element name="id_persona" type="xs:int" />
      <xs:element minOccurs="0" name="password" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cambiarContraseniaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="asistenciaEntrada">
    <xs:sequence>
      <xs:element name="idUsuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="asistenciaEntradaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPersona">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarPersonaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:persona" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarPersona">
    <xs:sequence>
      <xs:element minOccurs="0" name="Persona" type="tns:persona" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarPersonaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarPersonasTodas">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarPersonasTodasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:persona" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="Usuario" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarUsuarioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" name="Usuario" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarUsuarioResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarPersonaPorIdUsuario">
    <xs:sequence>
      <xs:element name="id_usuario" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="buscarPersonaPorIdUsuarioResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:persona" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarAsistencias">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarAsistenciasResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:asistencia" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="asistencia">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element minOccurs="0" name="hora_fin" type="xs:dateTime" />
      <xs:element minOccurs="0" name="hora_inicio" type="xs:dateTime" />
      <xs:element name="id_asistencia" type="xs:int" />
      <xs:element minOccurs="0" name="usuario" type="tns:usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarClienteXNombre">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarClienteXNombreResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:persona" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarPersona">
    <xs:sequence>
      <xs:element minOccurs="0" name="Persona" type="tns:persona" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarPersonaResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BuscaRestaurante">
    <xs:sequence>
      <xs:element name="id_persona" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BuscaRestauranteResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" type="tns:restaurante" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarEmpresa">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarEmpresaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:persona" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>