mikuyInterfacePart2/LP2Soft/LP2Soft/Connected Services/CajaWS/CajaWS.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.lp2soft.pucp.edu.pe/" targetNamespace="http://services.lp2soft.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="eliminarGasto" type="tns:eliminarGasto" />
  <xs:element name="eliminarGastoResponse" type="tns:eliminarGastoResponse" />
  <xs:element name="insertarGasto" type="tns:insertarGasto" />
  <xs:element name="insertarGastoResponse" type="tns:insertarGastoResponse" />
  <xs:element name="listarGastosXNombre" type="tns:listarGastosXNombre" />
  <xs:element name="listarGastosXNombreResponse" type="tns:listarGastosXNombreResponse" />
  <xs:element name="listarTodosGastos" type="tns:listarTodosGastos" />
  <xs:element name="listarTodosGastosResponse" type="tns:listarTodosGastosResponse" />
  <xs:element name="listarTransacciones" type="tns:listarTransacciones" />
  <xs:element name="listarTransaccionesResponse" type="tns:listarTransaccionesResponse" />
  <xs:element name="listarTransaccionesXFecha" type="tns:listarTransaccionesXFecha" />
  <xs:element name="listarTransaccionesXFechaResponse" type="tns:listarTransaccionesXFechaResponse" />
  <xs:element name="modificarGasto" type="tns:modificarGasto" />
  <xs:element name="modificarGastoResponse" type="tns:modificarGastoResponse" />
  <xs:complexType name="listarTransacciones">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTransaccionesResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:transaccion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="transaccion">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element minOccurs="0" name="fecha" type="xs:dateTime" />
      <xs:element name="id_transaccion" type="xs:int" />
      <xs:element minOccurs="0" name="restaurante" type="tns:restaurante" />
      <xs:element name="tipo" type="xs:unsignedShort" />
      <xs:element name="total" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="restaurante">
    <xs:sequence>
      <xs:element name="activo" type="xs:boolean" />
      <xs:element name="dineroActual" type="xs:double" />
      <xs:element minOccurs="0" name="direccion" type="xs:string" />
      <xs:element name="id_restaurante" type="xs:int" />
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
      <xs:element minOccurs="0" name="ruc" type="xs:string" />
      <xs:element minOccurs="0" name="telefono" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarGasto">
    <xs:sequence>
      <xs:element name="idGasto" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="eliminarGastoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarGastosXNombre">
    <xs:sequence>
      <xs:element minOccurs="0" name="nombre" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarGastosXNombreResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:gasto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="gasto">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:transaccion">
        <xs:sequence>
          <xs:element name="cantidad" type="xs:int" />
          <xs:element minOccurs="0" name="descripcion" type="xs:string" />
          <xs:element name="idGasto" type="xs:int" />
          <xs:element minOccurs="0" name="item" type="xs:string" />
          <xs:element name="precio" type="xs:double" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="listarTransaccionesXFecha">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:dateTime" />
      <xs:element minOccurs="0" name="arg1" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTransaccionesXFechaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:transaccion" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="listarTodosGastos">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="listarTodosGastosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="return" type="tns:gasto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarGasto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Gasto" type="tns:gasto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="insertarGastoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarGasto">
    <xs:sequence>
      <xs:element minOccurs="0" name="Gasto" type="tns:gasto" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="modificarGastoResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>