mikuyInterfacePart2/LP2Soft/LP2Soft/Connected Services/ReporteWS/ReporteWS1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.lp2soft.pucp.edu.pe/" targetNamespace="http://services.lp2soft.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="generarBoletaVenta" type="tns:generarBoletaVenta" />
  <xs:element name="generarBoletaVentaResponse" type="tns:generarBoletaVentaResponse" />
  <xs:complexType name="generarBoletaVenta">
    <xs:sequence>
      <xs:element name="idMesa" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="generarBoletaVentaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>