mikuyInterfacePart2/LP2Soft/LP2Soft/Connected Services/ReporteWS/ReporteWS1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://services.lp2soft.pucp.edu.pe/" targetNamespace="http://services.lp2soft.pucp.edu.pe/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="generarBoletaVenta" type="tns:generarBoletaVenta" />
  <xs:element name="generarBoletaVentaResponse" type="tns:generarBoletaVentaResponse" />
  <xs:element name="generarFacturaVenta" type="tns:generarFacturaVenta" />
  <xs:element name="generarFacturaVentaResponse" type="tns:generarFacturaVentaResponse" />
  <xs:element name="generarReporteAsistencia" type="tns:generarReporteAsistencia" />
  <xs:element name="generarReporteAsistenciaResponse" type="tns:generarReporteAsistenciaResponse" />
  <xs:element name="generarReportePlatosMasVendidos" type="tns:generarReportePlatosMasVendidos" />
  <xs:element name="generarReportePlatosMasVendidosResponse" type="tns:generarReportePlatosMasVendidosResponse" />
  <xs:element name="generarReporteVentasXDiaFecha" type="tns:generarReporteVentasXDiaFecha" />
  <xs:element name="generarReporteVentasXDiaFechaResponse" type="tns:generarReporteVentasXDiaFechaResponse" />
  <xs:complexType name="generarReporteAsistencia">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="generarReporteAsistenciaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="generarFacturaVenta">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
      <xs:element minOccurs="0" name="arg2" type="xs:string" />
      <xs:element minOccurs="0" name="arg3" type="xs:string" />
      <xs:element minOccurs="0" name="arg4" type="xs:string" />
      <xs:element name="arg5" type="xs:int" />
      <xs:element name="arg6" type="xs:double" />
      <xs:element name="arg7" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="generarFacturaVentaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="generarReportePlatosMasVendidos">
    <xs:sequence>
      <xs:element minOccurs="0" name="arg0" type="xs:string" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="generarReportePlatosMasVendidosResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="generarReporteVentasXDiaFecha">
    <xs:sequence />
  </xs:complexType>
  <xs:complexType name="generarReporteVentasXDiaFechaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="generarBoletaVenta">
    <xs:sequence>
      <xs:element name="arg0" type="xs:int" />
      <xs:element minOccurs="0" name="arg1" type="xs:string" />
      <xs:element minOccurs="0" name="arg2" type="xs:string" />
      <xs:element minOccurs="0" name="arg3" type="xs:string" />
      <xs:element minOccurs="0" name="arg4" type="xs:string" />
      <xs:element name="arg5" type="xs:int" />
      <xs:element name="arg6" type="xs:double" />
      <xs:element name="arg7" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="generarBoletaVentaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="return" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>