mikuyInterfacePart2/LP2Soft/LP2Soft/Connected Services/NegocioWS/NegocioWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://services.lp2soft.pucp.edu.pe/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="NegocioWS" targetNamespace="http://services.lp2soft.pucp.edu.pe/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="http://localhost:8080/LP2SoftWebServices/NegocioWS?xsd=1" namespace="http://services.lp2soft.pucp.edu.pe/" />
    </xsd:schema>
  </types>
  <message name="eliminarPromocion">
    <part name="parameters" element="tns:eliminarPromocion" />
  </message>
  <message name="eliminarPromocionResponse">
    <part name="parameters" element="tns:eliminarPromocionResponse" />
  </message>
  <message name="listarTodasCategorias">
    <part name="parameters" element="tns:listarTodasCategorias" />
  </message>
  <message name="listarTodasCategoriasResponse">
    <part name="parameters" element="tns:listarTodasCategoriasResponse" />
  </message>
  <message name="insertarPromocion">
    <part name="parameters" element="tns:insertarPromocion" />
  </message>
  <message name="insertarPromocionResponse">
    <part name="parameters" element="tns:insertarPromocionResponse" />
  </message>
  <message name="listarPromociones_X_nombre">
    <part name="parameters" element="tns:listarPromociones_X_nombre" />
  </message>
  <message name="listarPromociones_X_nombreResponse">
    <part name="parameters" element="tns:listarPromociones_X_nombreResponse" />
  </message>
  <message name="modificarPromocion">
    <part name="parameters" element="tns:modificarPromocion" />
  </message>
  <message name="modificarPromocionResponse">
    <part name="parameters" element="tns:modificarPromocionResponse" />
  </message>
  <message name="modificarProducto">
    <part name="parameters" element="tns:modificarProducto" />
  </message>
  <message name="modificarProductoResponse">
    <part name="parameters" element="tns:modificarProductoResponse" />
  </message>
  <message name="insertarLineaPromo">
    <part name="parameters" element="tns:insertarLineaPromo" />
  </message>
  <message name="insertarLineaPromoResponse">
    <part name="parameters" element="tns:insertarLineaPromoResponse" />
  </message>
  <message name="eliminarLineaPromo">
    <part name="parameters" element="tns:eliminarLineaPromo" />
  </message>
  <message name="eliminarLineaPromoResponse">
    <part name="parameters" element="tns:eliminarLineaPromoResponse" />
  </message>
  <message name="listarTodosLineaPromo">
    <part name="parameters" element="tns:listarTodosLineaPromo" />
  </message>
  <message name="listarTodosLineaPromoResponse">
    <part name="parameters" element="tns:listarTodosLineaPromoResponse" />
  </message>
  <message name="listarTodasPromociones">
    <part name="parameters" element="tns:listarTodasPromociones" />
  </message>
  <message name="listarTodasPromocionesResponse">
    <part name="parameters" element="tns:listarTodasPromocionesResponse" />
  </message>
  <message name="modificarLineaPromo">
    <part name="parameters" element="tns:modificarLineaPromo" />
  </message>
  <message name="modificarLineaPromoResponse">
    <part name="parameters" element="tns:modificarLineaPromoResponse" />
  </message>
  <message name="listarTodosProductos">
    <part name="parameters" element="tns:listarTodosProductos" />
  </message>
  <message name="listarTodosProductosResponse">
    <part name="parameters" element="tns:listarTodosProductosResponse" />
  </message>
  <message name="listarProductoXNombre">
    <part name="parameters" element="tns:listarProductoXNombre" />
  </message>
  <message name="listarProductoXNombreResponse">
    <part name="parameters" element="tns:listarProductoXNombreResponse" />
  </message>
  <message name="insertarCategoria">
    <part name="parameters" element="tns:insertarCategoria" />
  </message>
  <message name="insertarCategoriaResponse">
    <part name="parameters" element="tns:insertarCategoriaResponse" />
  </message>
  <message name="eliminarCategoria">
    <part name="parameters" element="tns:eliminarCategoria" />
  </message>
  <message name="eliminarCategoriaResponse">
    <part name="parameters" element="tns:eliminarCategoriaResponse" />
  </message>
  <message name="modificarCategoria">
    <part name="parameters" element="tns:modificarCategoria" />
  </message>
  <message name="modificarCategoriaResponse">
    <part name="parameters" element="tns:modificarCategoriaResponse" />
  </message>
  <message name="eliminarMesa">
    <part name="parameters" element="tns:eliminarMesa" />
  </message>
  <message name="eliminarMesaResponse">
    <part name="parameters" element="tns:eliminarMesaResponse" />
  </message>
  <message name="listarTodasMesa">
    <part name="parameters" element="tns:listarTodasMesa" />
  </message>
  <message name="listarTodasMesaResponse">
    <part name="parameters" element="tns:listarTodasMesaResponse" />
  </message>
  <message name="insertarMesa">
    <part name="parameters" element="tns:insertarMesa" />
  </message>
  <message name="insertarMesaResponse">
    <part name="parameters" element="tns:insertarMesaResponse" />
  </message>
  <message name="modificarMesa">
    <part name="parameters" element="tns:modificarMesa" />
  </message>
  <message name="modificarMesaResponse">
    <part name="parameters" element="tns:modificarMesaResponse" />
  </message>
  <message name="insertarProducto">
    <part name="parameters" element="tns:insertarProducto" />
  </message>
  <message name="insertarProductoResponse">
    <part name="parameters" element="tns:insertarProductoResponse" />
  </message>
  <message name="eliminarProducto">
    <part name="parameters" element="tns:eliminarProducto" />
  </message>
  <message name="eliminarProductoResponse">
    <part name="parameters" element="tns:eliminarProductoResponse" />
  </message>
  <portType name="NegocioWS">
    <operation name="eliminarPromocion">
      <input wsam:Action="http://services.lp2soft.pucp.edu.pe/NegocioWS/eliminarPromocionRequest" message="tns:eliminarPromocion" />
      <output wsam:Action="http://services.lp2soft.pucp.edu.pe/NegocioWS/eliminarPromocionResponse" message="tns:eliminarPromocionResponse" />
    </operation>
    <operation name="listarTodasCategorias">
      <input wsam:Action="http://services.lp2soft.pucp.edu.pe/NegocioWS/listarTodasCategoriasRequest" message="tns:listarTodasCategorias" />
      <output wsam:Action="http://services.lp2soft.pucp.edu.pe/NegocioWS/listarTodasCategoriasResponse" message="tns:listarTodasCategoriasResponse" />
    </operation>
    <operation name="insertarPromocion">
      <input wsam:Action="http://services.lp2soft.pucp.edu.pe/NegocioWS/insertarPromocionRequest" message="tns:insertarPromocion" />
      <output wsam:Action="http://services.lp2soft.pucp.edu.pe/NegocioWS/insertarPromocionResponse" message="tns:insertarPromocionResponse" />
    </operation>
    <operation name="listarPromociones_X_nombre">
      <input wsam:Action="http://services.lp2soft.pucp.edu.pe/NegocioWS/listarPromociones_X_nombreRequest" message="tns:listarPromociones_X_nombre" />
      <output wsam:Action="http://services.lp2soft.pucp.edu.pe/NegocioWS/listarPromociones_X_nombreResponse" message="tns:listarPromociones_X_nombreResponse" />
    </operation>
    <operation name="modificarPromocion">
      <input wsam:Action="http://services.lp2soft.pucp.edu.pe/NegocioWS/modificarPromocionRequest" message="tns:modificarPromocion" />
      <output wsam:Action="http://services.lp2soft.pucp.edu.pe/NegocioWS/modificarPromocionResponse" message="tns:modificarPromocionResponse" />
    </operation>
    <operation name="modificarProducto">
      <input wsam:Action="http://services.lp2soft.pucp.edu.pe/NegocioWS/modificarProductoRequest" message="tns:modificarProducto" />
      <output wsam:Action="http://services.lp2soft.pucp.edu.pe/NegocioWS/modificarProductoResponse" message="tns:modificarProductoResponse" />
    </operation>
    <operation name="insertarLineaPromo">
      <input wsam:Action="http://services.lp2soft.pucp.edu.pe/NegocioWS/insertarLineaPromoRequest" message="tns:insertarLineaPromo" />
      <output wsam:Action="http://services.lp2soft.pucp.edu.pe/NegocioWS/insertarLineaPromoResponse" message="tns:insertarLineaPromoResponse" />
    </operation>
    <operation name="eliminarLineaPromo">
      <input wsam:Action="http://services.lp2soft.pucp.edu.pe/NegocioWS/eliminarLineaPromoRequest" message="tns:eliminarLineaPromo" />
      <output wsam:Action="http://services.lp2soft.pucp.edu.pe/NegocioWS/eliminarLineaPromoResponse" message="tns:eliminarLineaPromoResponse" />
    </operation>
    <operation name="listarTodosLineaPromo">
      <input wsam:Action="http://services.lp2soft.pucp.edu.pe/NegocioWS/listarTodosLineaPromoRequest" message="tns:listarTodosLineaPromo" />
      <output wsam:Action="http://services.lp2soft.pucp.edu.pe/NegocioWS/listarTodosLineaPromoResponse" message="tns:listarTodosLineaPromoResponse" />
    </operation>
    <operation name="listarTodasPromociones">
      <input wsam:Action="http://services.lp2soft.pucp.edu.pe/NegocioWS/listarTodasPromocionesRequest" message="tns:listarTodasPromociones" />
      <output wsam:Action="http://services.lp2soft.pucp.edu.pe/NegocioWS/listarTodasPromocionesResponse" message="tns:listarTodasPromocionesResponse" />
    </operation>
    <operation name="modificarLineaPromo">
      <input wsam:Action="http://services.lp2soft.pucp.edu.pe/NegocioWS/modificarLineaPromoRequest" message="tns:modificarLineaPromo" />
      <output wsam:Action="http://services.lp2soft.pucp.edu.pe/NegocioWS/modificarLineaPromoResponse" message="tns:modificarLineaPromoResponse" />
    </operation>
    <operation name="listarTodosProductos">
      <input wsam:Action="http://services.lp2soft.pucp.edu.pe/NegocioWS/listarTodosProductosRequest" message="tns:listarTodosProductos" />
      <output wsam:Action="http://services.lp2soft.pucp.edu.pe/NegocioWS/listarTodosProductosResponse" message="tns:listarTodosProductosResponse" />
    </operation>
    <operation name="listarProductoXNombre">
      <input wsam:Action="http://services.lp2soft.pucp.edu.pe/NegocioWS/listarProductoXNombreRequest" message="tns:listarProductoXNombre" />
      <output wsam:Action="http://services.lp2soft.pucp.edu.pe/NegocioWS/listarProductoXNombreResponse" message="tns:listarProductoXNombreResponse" />
    </operation>
    <operation name="insertarCategoria">
      <input wsam:Action="http://services.lp2soft.pucp.edu.pe/NegocioWS/insertarCategoriaRequest" message="tns:insertarCategoria" />
      <output wsam:Action="http://services.lp2soft.pucp.edu.pe/NegocioWS/insertarCategoriaResponse" message="tns:insertarCategoriaResponse" />
    </operation>
    <operation name="eliminarCategoria">
      <input wsam:Action="http://services.lp2soft.pucp.edu.pe/NegocioWS/eliminarCategoriaRequest" message="tns:eliminarCategoria" />
      <output wsam:Action="http://services.lp2soft.pucp.edu.pe/NegocioWS/eliminarCategoriaResponse" message="tns:eliminarCategoriaResponse" />
    </operation>
    <operation name="modificarCategoria">
      <input wsam:Action="http://services.lp2soft.pucp.edu.pe/NegocioWS/modificarCategoriaRequest" message="tns:modificarCategoria" />
      <output wsam:Action="http://services.lp2soft.pucp.edu.pe/NegocioWS/modificarCategoriaResponse" message="tns:modificarCategoriaResponse" />
    </operation>
    <operation name="eliminarMesa">
      <input wsam:Action="http://services.lp2soft.pucp.edu.pe/NegocioWS/eliminarMesaRequest" message="tns:eliminarMesa" />
      <output wsam:Action="http://services.lp2soft.pucp.edu.pe/NegocioWS/eliminarMesaResponse" message="tns:eliminarMesaResponse" />
    </operation>
    <operation name="listarTodasMesa">
      <input wsam:Action="http://services.lp2soft.pucp.edu.pe/NegocioWS/listarTodasMesaRequest" message="tns:listarTodasMesa" />
      <output wsam:Action="http://services.lp2soft.pucp.edu.pe/NegocioWS/listarTodasMesaResponse" message="tns:listarTodasMesaResponse" />
    </operation>
    <operation name="insertarMesa">
      <input wsam:Action="http://services.lp2soft.pucp.edu.pe/NegocioWS/insertarMesaRequest" message="tns:insertarMesa" />
      <output wsam:Action="http://services.lp2soft.pucp.edu.pe/NegocioWS/insertarMesaResponse" message="tns:insertarMesaResponse" />
    </operation>
    <operation name="modificarMesa">
      <input wsam:Action="http://services.lp2soft.pucp.edu.pe/NegocioWS/modificarMesaRequest" message="tns:modificarMesa" />
      <output wsam:Action="http://services.lp2soft.pucp.edu.pe/NegocioWS/modificarMesaResponse" message="tns:modificarMesaResponse" />
    </operation>
    <operation name="insertarProducto">
      <input wsam:Action="http://services.lp2soft.pucp.edu.pe/NegocioWS/insertarProductoRequest" message="tns:insertarProducto" />
      <output wsam:Action="http://services.lp2soft.pucp.edu.pe/NegocioWS/insertarProductoResponse" message="tns:insertarProductoResponse" />
    </operation>
    <operation name="eliminarProducto">
      <input wsam:Action="http://services.lp2soft.pucp.edu.pe/NegocioWS/eliminarProductoRequest" message="tns:eliminarProducto" />
      <output wsam:Action="http://services.lp2soft.pucp.edu.pe/NegocioWS/eliminarProductoResponse" message="tns:eliminarProductoResponse" />
    </operation>
  </portType>
  <binding name="NegocioWSPortBinding" type="tns:NegocioWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="eliminarPromocion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodasCategorias">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarPromocion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarPromociones_X_nombre">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarPromocion">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarLineaPromo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarLineaPromo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodosLineaPromo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodasPromociones">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarLineaPromo">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodosProductos">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarProductoXNombre">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarCategoria">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarCategoria">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarCategoria">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarMesa">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="listarTodasMesa">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarMesa">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="modificarMesa">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="insertarProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="eliminarProducto">
      <soap:operation soapAction="" />
      <input>
        <soap:body use="literal" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="NegocioWS">
    <port name="NegocioWSPort" binding="tns:NegocioWSPortBinding">
      <soap:address location="http://localhost:8080/LP2SoftWebServices/NegocioWS" />
    </port>
  </service>
</definitions>